/* body {
    margin: 1em;
}

img {
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    outline: 2px solid #fff;
    outline-offset: -10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill,min );
    grid-template-columns: 1fr 1fr 1fr;
} */

body {
    
}